*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* inline-size: 1200px; */
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* лейаут */

.content {
  display: grid;
  align-items: end;
  width: 100%;
  max-width: 1140px;
  margin: auto 0 105px;
  padding: 0 30px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.content__details {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 100%;
}

.content__list-container {
  position: relative;
  overflow-y: auto;
  height: 298px;
  margin-top: 20px;
}

/* размеры */
.result {
  grid-column: 1;
  grid-row: 1;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2px;
  gap: 10px;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

/* стили текстов */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
}

/* стили формы */

.search-form__fieldset {
  flex-grow: 1;
  border: none;
}

.search-form__label {
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  padding: 2.5px 0;
  color: #fff;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  background: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  content: '';
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* стили кнопок */

.button {
  cursor: pointer;

  color: #fff;
  border: 1px solid #fff;
  background: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.search-form__submit-button {
  align-self: flex-end;
  margin-bottom: 0;
  padding: 5px 73px;
}

.more-button {
  inline-size: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* карточки */

.content__list-item {
  display: block;
  padding: 0 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

/* кликабельность */
.search-form__label {
  cursor: pointer;
}
